In [382]:
import requests 
import pandas as pd
from datetime import datetime
import numpy as np

SYMBOL = ("IBM")
url = "https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol="+SYMBOL+"&apikey=L14KLEPQ80F26X4M"
response = requests.get(url)
output = response.json()
stock_dates_dict = output["Monthly Time Series"]

In [383]:
all_dates = [i for i in stock_dates_dict.keys()]

In [384]:
all_dates = pd.DataFrame(all_dates)

In [385]:
all_dates.columns = ["Date"]

In [386]:
all_dates.Date = pd.to_datetime(all_dates.Date)

In [387]:
min(all_dates.Date)

Timestamp('1999-12-31 00:00:00')

In [388]:
max(all_dates.Date)

Timestamp('2022-03-09 00:00:00')

In [389]:
all_dates

          Date
0   2022-03-09
1   2022-02-28
2   2022-01-31
3   2021-12-31
4   2021-11-30
..         ...
263 2000-04-28
264 2000-03-31
265 2000-02-29
266 2000-01-31
267 1999-12-31

[268 rows x 1 columns]

In [390]:
def split_years(dt):
    dt['year'] = dt['Date'].dt.year
    return [dt[dt['year'] == y] for y in dt['year'].unique()]

In [391]:
mins = []
maxs = []
for i in split_years(all_dates):
    mins.append(min(i.Date))
    maxs.append(max(i.Date))
    if len(i) < 12:
        print(i)
        continue

        Date  year
0 2022-03-09  2022
1 2022-02-28  2022
2 2022-01-31  2022
          Date  year
267 1999-12-31  1999

In [392]:
mins

[Timestamp('2022-01-31 00:00:00'),
 Timestamp('2021-01-29 00:00:00'),
 Timestamp('2020-01-31 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2018-01-31 00:00:00'),
 Timestamp('2017-01-31 00:00:00'),
 Timestamp('2016-01-29 00:00:00'),
 Timestamp('2015-01-30 00:00:00'),
 Timestamp('2014-01-31 00:00:00'),
 Timestamp('2013-01-31 00:00:00'),
 Timestamp('2012-01-31 00:00:00'),
 Timestamp('2011-01-31 00:00:00'),
 Timestamp('2010-01-29 00:00:00'),
 Timestamp('2009-01-30 00:00:00'),
 Timestamp('2008-01-31 00:00:00'),
 Timestamp('2007-01-31 00:00:00'),
 Timestamp('2006-01-31 00:00:00'),
 Timestamp('2005-01-31 00:00:00'),
 Timestamp('2004-01-30 00:00:00'),
 Timestamp('2003-01-31 00:00:00'),
 Timestamp('2002-01-31 00:00:00'),
 Timestamp('2001-01-31 00:00:00'),
 Timestamp('2000-01-31 00:00:00'),
 Timestamp('1999-12-31 00:00:00')]

In [393]:
maxs

[Timestamp('2022-03-09 00:00:00'),
 Timestamp('2021-12-31 00:00:00'),
 Timestamp('2020-12-31 00:00:00'),
 Timestamp('2019-12-31 00:00:00'),
 Timestamp('2018-12-31 00:00:00'),
 Timestamp('2017-12-29 00:00:00'),
 Timestamp('2016-12-30 00:00:00'),
 Timestamp('2015-12-31 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2013-12-31 00:00:00'),
 Timestamp('2012-12-31 00:00:00'),
 Timestamp('2011-12-30 00:00:00'),
 Timestamp('2010-12-31 00:00:00'),
 Timestamp('2009-12-31 00:00:00'),
 Timestamp('2008-12-31 00:00:00'),
 Timestamp('2007-12-31 00:00:00'),
 Timestamp('2006-12-29 00:00:00'),
 Timestamp('2005-12-30 00:00:00'),
 Timestamp('2004-12-31 00:00:00'),
 Timestamp('2003-12-31 00:00:00'),
 Timestamp('2002-12-31 00:00:00'),
 Timestamp('2001-12-31 00:00:00'),
 Timestamp('2000-12-29 00:00:00'),
 Timestamp('1999-12-31 00:00:00')]

gets keys from dict, separtes keys by year gets min and max per year and compares the opening price for stock for returns

In [394]:
maxs = list(map(lambda x: x.strftime("%Y-%m-%d"), maxs))
mins = list(map(lambda x: x.strftime("%Y-%m-%d"), mins))

In [395]:
# for key in stock_dates_dict:
#     print(key, stock_dates_dict[key])

In [396]:
# https://www.investopedia.com/terms/y/yearly-rate-of-return-method.asp
def yearly_return(first, last):
    first =  float(first)
    last = float(last)
    return (last - first ) / first*100

In [397]:
mins

['2022-01-31',
 '2021-01-29',
 '2020-01-31',
 '2019-01-31',
 '2018-01-31',
 '2017-01-31',
 '2016-01-29',
 '2015-01-30',
 '2014-01-31',
 '2013-01-31',
 '2012-01-31',
 '2011-01-31',
 '2010-01-29',
 '2009-01-30',
 '2008-01-31',
 '2007-01-31',
 '2006-01-31',
 '2005-01-31',
 '2004-01-30',
 '2003-01-31',
 '2002-01-31',
 '2001-01-31',
 '2000-01-31',
 '1999-12-31']

In [398]:
maxs

['2022-03-09',
 '2021-12-31',
 '2020-12-31',
 '2019-12-31',
 '2018-12-31',
 '2017-12-29',
 '2016-12-30',
 '2015-12-31',
 '2014-12-31',
 '2013-12-31',
 '2012-12-31',
 '2011-12-30',
 '2010-12-31',
 '2009-12-31',
 '2008-12-31',
 '2007-12-31',
 '2006-12-29',
 '2005-12-30',
 '2004-12-31',
 '2003-12-31',
 '2002-12-31',
 '2001-12-31',
 '2000-12-29',
 '1999-12-31']

In [399]:
for i in maxs:
    print('maxs ', i, stock_dates_dict[i]["4. close"])

maxs  2022-03-09 126.2200
maxs  2021-12-31 133.6600
maxs  2020-12-31 125.8800
maxs  2019-12-31 134.0400
maxs  2018-12-31 113.6700
maxs  2017-12-29 153.4200
maxs  2016-12-30 165.9900
maxs  2015-12-31 137.6200
maxs  2014-12-31 160.4400
maxs  2013-12-31 187.5700
maxs  2012-12-31 191.5500
maxs  2011-12-30 183.8800
maxs  2010-12-31 146.7600
maxs  2009-12-31 130.9000
maxs  2008-12-31 84.1600
maxs  2007-12-31 108.1000
maxs  2006-12-29 97.1500
maxs  2005-12-30 82.2000
maxs  2004-12-31 98.5800
maxs  2003-12-31 92.6800
maxs  2002-12-31 77.5000
maxs  2001-12-31 120.9600
maxs  2000-12-29 85.0000
maxs  1999-12-31 107.8700

In [400]:
for i in mins:
    print('mins ', i , stock_dates_dict[i]["1. open"])

mins  2022-01-31 134.0700
mins  2021-01-29 125.8500
mins  2020-01-31 135.0000
mins  2019-01-31 112.0100
mins  2018-01-31 154.5000
mins  2017-01-31 167.0000
mins  2016-01-29 135.6000
mins  2015-01-30 161.3100
mins  2014-01-31 187.2100
mins  2013-01-31 194.0900
mins  2012-01-31 186.7300
mins  2011-01-31 147.2100
mins  2010-01-29 131.1800
mins  2009-01-30 83.8900
mins  2008-01-31 108.9900
mins  2007-01-31 97.1700
mins  2006-01-31 82.4500
mins  2005-01-31 98.9700
mins  2004-01-30 92.8600
mins  2003-01-31 78.8000
mins  2002-01-31 120.6000
mins  2001-01-31 84.5000
mins  2000-01-31 112.4400
mins  1999-12-31 102.5600

In [401]:
rates_of_return = yearly_return(stock_dates_dict[mins[0]]["1. open"], stock_dates_dict[maxs[0]]["4. close"])
rates_of_return

-5.8551502946222085

In [402]:
yroi = []
for i in range(len(maxs)):
    if len(maxs)!=len(mins):
        print("Different")
    yroi.append(yearly_return(stock_dates_dict[mins[i]]["1. open"], stock_dates_dict[maxs[i]]["4. close"]))
yroi = yroi[:7]
yroi

[-5.8551502946222085,
 6.205800556217722,
 -6.755555555555559,
 19.66788679582179,
 -26.427184466019416,
 -8.131736526946115,
 22.411504424778773]

In [403]:
med_value = np.median(yroi)
std_value = np.std(yroi)
stock_info = {
    "median": med_value,
    "std": std_value
}
print(json.dumps(stock_info))

{"median": -5.8551502946222085, "std": 15.909911610293406}